{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 140,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
